CairoSVG==0.5
Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-WeasyPrint==0.4
Jinja2==2.7
MarkupSafe==0.18
Pyphen==0.7
SQLAlchemy==0.8.2
WeasyPrint==0.19.2
Werkzeug==0.9.1
cairocffi==0.5
cffi==0.6
cssselect==0.8
distribute==0.6.34
itsdangerous==0.22
lxml==3.2.1
py==1.4.15
pycparser==2.09.1
pytest==2.3.5
requests==1.2.3
tinycss==0.3
psycopg2