body {
	padding-top: 60px;
}

.contact-info {
	padding-top: 200px;
	text-align: left;
}

#contact-pic {
	padding-top: 20px;
	text-align: center;
}

.carousel-inner { 
	text-align: center;
}

.carousel .item > img {
	display: inline-block;
}

.home-img {
	padding-left: 225px;
	padding-top: 25px;
}

.paige-pics {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.errorhandlers {
	text-align: center;
	padding-top: 100px;
}

#logout-button {
	float: right;
}

.footer-mods {
	text-align: center;
	font-size: 11px;
	padding-top: 10px;
}

.flash-mods {
	color: red;
}

.admin-img-form {
	text-align: center;

}

