body {
	padding-top: 60px;
}

.contact-info {
	padding-top: 200px;
	text-align: left;
}

#contact-pic {
	padding-top: 50px;
	text-align: center;
}

.carousel-inner { 
	text-align: center;
}

.carousel .item > img {
	display: inline-block;
}

.home-img {
	padding-left: 225px;
	padding-top: 25px;
}

.paige-pics {
	display: block;
	margin-left: auto;
	margin-right: auto;

}