{% extends "layout.html" %}
{% block content %}

	<div class="btn-group" id="logout-button">
  		<form method="post" action="/logout">
			<button class="btn">Logout</button>
		</form>
	</div>

	<form method="post" action="" class="admin-img-form">
		Attach image here: <input type="text"><br><br>
		Where will the image go?<br>
		<input type="radio">Drawings<br>
		<input type="radio">Paintings<br>
		<input type="radio">Sculptures<br><br>
		Caption for the image:<input type="text"><br><br>
		<button class="btn">Submit this photo</button>
	</form>


{% endblock %}}