{% extends "layout.html" %}
{% block content %}

	<div class="btn-group" id="logout-button">
  		<form method="post" action="/logout">
			<button class="btn">Logout</button>
		</form>
	</div>

	<form method="post" action="" class="admin-img-form">
		Attach image here: <input type="text"><br><br>
		Where will the image go?<br>
		<input type="radio">Drawings
		<input type="radio">Paintings
		<input type="radio">Sculptures<br><br>
		<textarea name="caption" cols="100" rows="5">Enter image caption here:</textarea><br><br>
		<button class="btn">Submit this photo</button>
	</form>


{% endblock %}}