<!doctype html>
<html>
	<head>
		<title>Paige Heimark</title>
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	</head>

	<body>
		<header>
			<div class="container row">
				
				<div class="span4">
					<ul class="nav nav-tabs nav-stacked">
						<li><a href="#">ART</a></li>
						<li><a href="#">RESUME</a></li>
						<li><a href="#">CONTACT</a></li>
					</ul>
				</div>

				<div class="span8">
					{% block content %}
					{% endblock %}
				</div>


			</div>
		</header>

	</body>
</html>