<!doctype html>
<html>
	<head>
    
    {% if page %}
		<title>Paige Heimark | {{page}}</title>
    {% else %}
    <title>Paige Heimark</title>
    {% endif %}

		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<script src="static/js/jquery-1.10.2.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>

	</head>

	<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ url_for('home') }}">Paige Heimark</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Art<b class="caret"></b></a>
              		<ul class="dropdown-menu">
              			<li><a href="{{ url_for('drawings') }}">Drawings</a></li>
              			<li><a href="{{ url_for('paintings') }}">Paintings</a></li>
                    <li><a href="{{ url_for('sculptures') }}">Sculptures</a></li>

              		</ul>
              </li>
              <li><a href="{{ url_for('resume') }}">Resume</a></li>
              <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes id="flash-mods">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


    <div class="container">
      <h1>{{page}}</h1>
      {% block content %}
      {% endblock %}
    </div>

    <!-- footer -->
    <div class="footer footer-mods">
      <p>© Paige Heimark 2013</p>
    </div>

	</body>
</html>