<!doctype html>
<html>
	<head>
    
    {% if page %}
		<title>Paige Heimark | {{page}}</title>
    {% else %}
    <title>Paige Heimark</title>
    {% endif %}

		<link rel="stylesheet" type="text/css" href="static/css/style.css">
		<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
		<script src="static/js/jquery-1.10.2.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>

	</head>

	<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">Paige Heimark</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li class="dropdown">
              	<a href="#" class="dropdown-toggle" data-toggle="dropdown">ART<b class="caret"></b></a>
              		<ul class="dropdown-menu">
              			<li><a href="{{ url_for('drawings') }}">DRAWINGS</a></li>
              			<li><a href="{{ url_for('paintings') }}">PAINTINGS</a></li>
                    <li><a href="{{ url_for('sculptures') }}">SCULPTURES</a></li>

              		</ul>
              </li>
              <li><a href="{{ url_for('resume') }}">RESUME</a></li>
              <li><a href="{{ url_for('contact') }}">CONTACT</a></li>
              <div class="btn-group action">
                <button class="btn">Sign in</button>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>{{page}}</h1>
      {% block content %}
      {% endblock %}
    </div>

	</body>
</html>