{% extends "layout.html" %}
{% block content %}
	<h1>PAINTINGS</h1>

	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item paige-pics"><img src="http://farm8.staticflickr.com/7362/9240546928_68c454b862.jpg" width="500" height="386" alt="photo"></div>
    <div class="item paige-pics"><img src="http://farm6.staticflickr.com/5447/9240547544_7bf72f7c43.jpg" width="375" height="500" alt="_DSC0001"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}