{% extends "layout.html" %}
{% block content %}

	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item paige-pics"><img src="http://farm4.staticflickr.com/3729/9237763469_51d4c9a9dd.jpg" width="500" height="375" alt="photo"></div>
    <div class="item paige-pics"><img src="http://farm8.staticflickr.com/7413/9237766057_933efe7a00.jpg" width="500" height="375" alt="DSCF3698"></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
{% endblock %}